/* Calendar popup */

$calendar-arrow-left: url("assets/calendar-arrow-left.svg");
$calendar-arrow-left-hover: url("assets/calendar-arrow-left-hover.svg");
$calendar-arrow-right: url("assets/calendar-arrow-right.svg");
$calendar-arrow-right-hover: url("assets/calendar-arrow-right-hover.svg");

#calendarPopup .calendar {
  padding: 10px;
}

.calendar {
  padding: .4em 1.75em .8em 1.75em;
  background-color:rgb(255,255,255);
  border: 0px;
  spacing-rows: 0;
  spacing-columns: 0;
}

.calendar-month-label {
  color: $fg_color;
  font-size: 9pt;
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 8px;
}

.calendar-change-month-back {
  color: transparent;
  background-image: $calendar-arrow-left; }
.calendar-change-month-back:focus, .calendar-change-month-back:hover {
  color: transparent;
  background-color: white;
  background-image: $calendar-arrow-left-hover; }
.calendar-change-month-back:active {
  color: transparent;
  background-image: $calendar-arrow-left; }
.calendar-change-month-back:rtl {
  color: transparent;
  background-image: $calendar-arrow-right; }
.calendar-change-month-back:rtl:focus, .calendar-change-month-back:rtl:hover {
  color: transparent;
  background-color: white;
  background-image: $calendar-arrow-right-hover; }
.calendar-change-month-back:rtl:active {
  color: transparent;
  background-image: $calendar-arrow-right; }

.calendar-change-month-forward {
  color: transparent;
  background-image: $calendar-arrow-right; }
.calendar-change-month-forward:focus, .calendar-change-month-forward:hover {
  color: transparent;
  background-color: white;
  background-image: $calendar-arrow-right-hover; }
.calendar-change-month-forward:active {
  color: transparent;
  background-image: $calendar-arrow-right; }
.calendar-change-month-forward:rtl {
  color: transparent;
  background-image: $calendar-arrow-left; }
.calendar-change-month-forward:rtl:focus, .calendar-change-month-forward:rtl:hover {
  color: transparent;
  background-color: white;
  background-image: $calendar-arrow-left-hover; }
.calendar-change-month-forward:rtl:active {
  color: transparent;
  background-image: $calendar-arrow-left; }

.datemenu-date-label {
  padding: .4em 1.7em;
  font-weight: bold;
  text-align: center;
  color: darkslategrey;
}

.datemenu-date-label:focus {
  color: darkslategrey;
}

.datemenu-today-button {
  
  color: $fg-color;
  background-color: $base-color;
}

.datemenu-today-button:hover,
.datemenu-today-button:focus {
  border: 1px;
  border-color: $selected_bg_color;
}

.calendar-day-base {
  font-size: 9pt;
  text-align: center;
  width: 2.4em;
  height: 2.4em;
}

.calendar-day-base:hover,
.calendar-day-base:focus {
  color: darkslategrey;
  background-gradient-direction: vertical;
  background-gradient-start: #efefef;
  background-gradient-end: #efefef;
}

.calendar-day-heading {
  color: darkslategrey;
  padding-top: .2em;
  height: 1.7em;
}

.calendar-week-number {
  color: darkslategrey;
  font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
  border: 1.4px solid lightgray;
  color: darkslategray;
  font-weight: bold;
}

.calendar-nonwork-day {
  background-color: rgba(255,255,255,0.3);
  color: $fg_color;
}

.calendar-today {
  color: $base_color;
  text-shadow: none;
  font-weight: bold;
  background-color: $selected_fg_color;
}

.calendar-today:hover {
  color: $fg_color;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(102,153,204,1.0);
  background-gradient-end: #6699CC;
}

.calendar-day-with-events {
  font-weight: bold;
  color: $fg_color;
}

.calendar-other-month-day {
  color: lightgrey;
}

.events-table {
  width: 320px;
  spacing-columns: 6pt;
  padding: 0 1.4em;
}

.events-table:ltr {
  padding-right: 1.9em;
}

.events-table:rtl {
  padding-left: 1.9em;
}

.events-day-header {
  font-weight: bold;
  color: $fg_color;
  padding-left: 0.4em;
  padding-top: 1.2em;
}

.events-day-header:first-child {
  padding-top: 0;
}

.events-day-header:rtl {
  padding-left: 0;
  padding-right: 0.4em;
}

.events-day-dayname {
  color: darkslategray;
  text-align: left;
  min-width: 20px;
}

.events-day-dayname:rtl {
  text-align: right;
}

.events-day-time {
  color: darkslategray;
  text-align: right;
}

.events-day-time:rtl {
  text-align: left;
}

.events-day-task {
  color: darkslategray;
  padding-left: 8pt;
}

.events-day-task:rtl {
  padding-left: 0;
  padding-right: 8pt;
}

.url-highlighter {
  link-color: #ccccff;
}

.datemenu-displays-box {
  background-color: $base_color;
}