/* Dash */

$dash_placeholder_size: 24px;
$dash_spacing: 1px;
$dash_border_radius: $modal_radius * 1.5;
$dash_bg_color: rgba(255,255,255,.3);

#dash {
  @extend %overview_panel;
  @include fontsize($base_font_size - 2);
  padding: ($dash_spacing / 3) 0;

  border-radius:$dash_border_radius; 
  border-left-width: 0;
  &:rtl {
    border-radius: $dash_border_radius;
    border-right-width: 0;
  }
  background-color: $dash_bg_color;

  .placeholder {
    // background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-image:none;
    background-size: contain;
    height: $dash_placeholder_size;
  }

  .empty-dash-drop-target {
    width: $dash_placeholder_size;
    height: $dash_placeholder_size;
  }
}

// Dash Items
.dash-item-container > StWidget {
  padding: ($dash_spacing / 2) $dash_spacing;
}

// OSD Tooltip
.dash-label {
  background-color: $base_color;
  border-radius: $base_border_radius + 2px;
  border:none;
  color: $fg_color;
  padding: $base_padding $base_padding + 2px;
  text-align: center;
  -x-offset: $base_margin * 2; // distance from the dash edge
}

// Show apps button
.show-apps {
  @include overview-icon($base_color);

  &:focus,
  &:checked {
    .overview-icon {
      background-color: $base_color;
      color: $base_color;
    }
  }
}

